# Unneeded files from jekyll site
# ------------------------------------------------------------------------------
_site/
assets/
_sass/
_includes/
_layouts/
etc/

**/*.html

convert_notebooks_to_html_partial.py
CNAME
Gemfile
Gemfile.lock
node_modules
# examples/
images/
log/
notebooks-images/
# recipes/
# tutorial/

# vendor/bundle/
# vendor/cache/
# vendor/gems/
# vendor/ruby/

# LICENSE.txt
# MANIFEST.in
# Makefile
# __pycache__

_config.yml

# build
# conftest.py
# dist
# lerna.json
# nbinteract
# nbinteract.egg-info

node_modules/

# package.json
# packages
# prettier.config.js
# setup.cfg
# setup.py
# tests

yarn.lock
package-lock.json

\.jekyll-cache/
